h1.center.mt-3.mb-3 The Flower Smith
.container
  .col-md-8.col-center
    .col-md-10.col-center
      = image_tag('flower1.jpg', class: 'img-fluid mb-5')
    p Let The Flowersmith at Two Barn Farm provide you with a variety of unique flowers for your special event.   We grow everything from anemones, ranunculus and tulips in the early spring to dahlias and gorgeous heirloom mums in the fall.
    p Small and large bouquets will be available at the Stangl Farmers’ Market on Saturdays the Clinton Farmers’ Market on Sundays during the growing season.
    .col-md-8.col-center
      = image_tag('flower2.jpg', class: 'img-fluid mb-5')
    .center
      p Contact Jane at:
      p <a href="mailto:theflowersmithattbf@gmail.com">theflowersmithattbf@gmail.com </a>
      p or call
      p <a href="tel:908-442-5128">(908)442-5128</a>,
      P if we can help with ready-made bouquets or flowers by the bunch or bucket for your event.
      - if current_user.try(:admin) || current_user.try(:client)
        = link_to 'Order Flowers', products_path, class: 'btn btn-light'
