<h1 class="center mt-3 mb-3">The Farm</h1>
<div class="container">
  <div class="col-md-8 col-center">
    <p>
      Two Barn Farm is a vegetable farm located in Pittstown, NJ.  We directly market our produce locally at the 
      <a href="https://www.facebook.com/Clinton-Farmers-Market-115933728485071/">Clinton Farmers Market</a>,
      <a href='https://www.facebook.com/Stangl-Factory-Farmers-Market-359683427456218/'>Stangl Farmers’ Market</a>, and through our CSA.  We grow real, healthy food!  We are not certified organic, however we do use regenerative farming practices.  No chemical fertilizers, herbicides or synthetic pesticides on this farm.  Ask us how we grow.  We looove talking about veggies!
    </p>
    <%= image_tag('onion.jpg', class: 'img-fluid')%>
    <p>Potato and onion rows summer 2017</p>
  </div>
</div>