<tr>
  <td><%= user.email %></td>
  <td><%= user.admin %>
  </td>
  <td>
    <%= check_box_tag('client', "true", user.client, 
                      data: {
                              id: user.id,
                              remote: true,
                              url: url_for(
                                controller: 'admin',
                                action: 'create',
                                id: user.id),
                              method: "POST"
                            }) %>
  </td>
</tr>