.container
	h1 Crop Image
	.row
		.col-md-8
			= image_tag(@user.image_url(:large), id: 'user-cropbox')
		.col-md-4
			h4 Preview
			.prev-user
				= image_tag @user.image_url(:large), id: "user-preview"
	.center.mt-3
		= form_for @user do |f|
			- %w[x y w h].each do |attr|
				= f.hidden_field "crop_#{attr}", as: :hidden
			.actions
				= f.submit "Crop", class: 'btn btn-light btn-lg btn-block'

javascript:
	$(function () {
		var width = parseInt($('#user-cropbox').width())-100;
		var height = parseInt($('#user-cropbox').height())-100;
		$('#user-cropbox').Jcrop({
			aspectRatio: 1,
			setSelect: [50, 50, width, height],
			onChange: updatePreview,
			onSelect: updatePreview,
		});

		function updatePreview (coords) {
			$('#user_crop_x').val(coords.x);
	    $('#user_crop_y').val(coords.y);
	    $('#user_crop_w').val(coords.w);
	    $('#user_crop_h').val(coords.h);
	    showPreview(coords);
		};

		function showPreview (coords) {
			var rx = 200 / coords.w;
			var ry = 200 / coords.h;
			var w = $('#user-cropbox').width();
			var h = $('#user-cropbox').height();

			$('#user-preview').css({
				width: Math.round(rx * w) + 'px',
				height: Math.round(ry * h) + 'px',
				marginLeft: '-' + Math.round(rx * coords.x) + 'px',
				marginTop: '-' + Math.round(ry * coords.y) + 'px'
			});
		};

	});