<table class="table table-striped">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <%= render 'pages/page', page: page %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <% if current_user.try(:admin?) %>
          <%= link_to 'New Page', new_page_path, class: 'btn btn-lg btn-light' %>
        <% end -%>
      </td>
    </tr>
  </tfoot>
</table>
