table.table.table-striped
  thead
    tr
      th Slug
      th Name
      th
  tbody
    - @pages.each do |page|
      = render 'pages/page', page: page
  tfoot
    tr
      td
        - if current_user.try(:admin?)
          = link_to 'New Page', new_page_path, class: 'btn btn-lg btn-light'
