<div class="receipt col-md-9 col-center">
  <h1 class="center mt-3 mb-3">Your Order</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Total</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render (@cart.line_items) %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          Total: <%= number_to_currency(@cart.total_price) %>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to 'Checkout', new_checkouts_path, class: 'btn btn-light' %>
</div>
