<table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Total</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render (@cart.line_items) %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          Total: <%= number_to_currency(@cart.total_price) %>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<%= form_tag('/checkouts') %>
  <div class="actions">
    <%= submit_tag "Submit", class: 'btn btn-light' %>
  </div>
