<div class="card mt-5">
  <div class="card-header">
    <%= image_tag(post.image_url(:header), class: "card-img-top") %>
    <h2 class="text-center"><%= post.title %></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%=  truncate(post.body, length: 250) %>
    </p>
  </div>
  <div class="card-footer">
    <div class="center">
      <%= link_to "Full Post", post, class: 'btn btn-light' %>
    </div>
  </div>
</div>