.container
	h1 Crop Image
	.row
		.col-md-10.offset-md-1
			h4.center.mb-2 Preview
			.prev-header
				= image_tag @post.image_url(:large), id: "header-preview"
	.row.mt-2
		.col-md-8.offset-md-2
			= image_tag(@post.image_url(:large), id: 'header-cropbox')
	.center.mt-5
		= form_for @post do |f|
			- %w[x y w h].each do |attr|
				= f.hidden_field "crop_#{attr}", as: :hidden
			.actions
				= f.submit "Crop", class: 'btn btn-light btn-lg btn-block'

javascript:
	$(function () {
		var width = parseInt(__('#header-cropbox').width());
		var height = parseInt(__('#header-cropbox').height());
		$('#header-cropbox').Jcrop({
			aspectRatio: 4,
			setSelect: [0, 0, width, height],
			onChange: updatePreview,
			onSelect: updatePreview,
		});

		function updatePreview (coords) {
			__('#post_crop_x').val(coords.x);
		    __('#post_crop_y').val(coords.y);
		    __('#post_crop_w').val(coords.w);
		    __('#post_crop_h').val(coords.h);
		    showPreview(coords);
		}

		function showPreview (coords) {
			var rx = 800 / coords.w;
			var ry = 200 / coords.h;
			__('#header-preview').css({
				width: Math.round(rx * __('#header-cropbox').width()) + 'px',
				height: Math.round(ry * __('#header-cropbox').height()) + 'px',
				margin_left: '-' + Math.round(rx * coords.x) + 'px',
				margin_top: '-' + Math.round(ry * coords.y) + 'px'
			});
		}

		// Jcrop.attach('cropbox');
	});