.row
  .col-md-8.offset-md-2
    h1.center.mt-3.mb-3 Recent Posts
  .col-md-2
    - if current_user.try(:admin?)
      = link_to 'New Post', new_post_path, class: 'btn btn-lg btn-light'
- @posts.each do |post|
  = render 'posts/post', post: post
br