.card.col-center.mt-5
  .card-header
    .row
      = image_tag(@post.image_url(:header), class: "card-img-top")
    .row
      .col-md-2
        = link_to 'Back', posts_path, class: 'btn btn-lg btn-light'
      .col-md-8
        h2.text-center.mt-2 = @post.title
      - if user_signed_in?
        .col-md-2
          = link_to 'Comment', new_comment_path(post_id: @post), class: 'btn btn-lg btn-light'
  .card-body
    p.card-text = @post.body.html_safe
  .card-footer.text-center
    - if @post.comments
      .row
        .col-md-2
          - if user_signed_in?
            = link_to 'Add a Comment', new_comment_path(post_id: @post.id), class: 'btn btn-light'
        .col-md-8
          h2 = @post.comments.count
            | Comments
        .col-md-2
          = link_to 'View All', comments_path(post_id: @post.id), class: 'btn btn-light'
      = render @post.comments, comment: @post.comments.last
    - if current_user.try(:admin?)
      = link_to 'Edit', edit_post_path(@post), class: 'btn btn-link'
      | |
      = link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-link'
