| <div class='d-flex justify-content-around'>
	<h5 class='mr-2'> #{planting_name(planting)} </h5>
	<h6 class='text-muted mt-1'> #{planting.num_beds.to_d} Beds </h6>
| </div>
| <p> Transplanted: #{d_m_y(planting.transplanted_at)} </p>
| <p> Harvested: #{d_m_y(planting.target_harvest_date)} </p>