.posts {
	.index {
		.card, .card-img-top {
			border-radius: 8px 8px 0 0;

			.card-img-wrapper {
				position: relative;
			}

			.card-body {
				border-right: 1px solid rgba(0, 0, 0, .125);
				border-left: 1px solid rgba(0, 0, 0, .125);
				border-bottom: 1px solid rgba(0, 0, 0, .125);
				border-radius: 0 0 8px 8px;
				z-index: 10;
			}

		}

	}

	.show {
		.card-footer {
			z-index: 10;

			.btn-link {
				display: inline;
			}

		}

	}

}
