.lettuce {
	background-color: YellowGreen;
}

.spinach {
	background-color: DarkGreen;
}

.tomato {
	background-color: Red;
}

.eggplant {
	background-color: RebeccaPurple;
}

.carrot {
	background-color: Orange;
}

.cucumber {
	background-color: DarkSeaGreen;
}

.beet {
	background-color: #660022;
}
