.jumbotron {
	background: image-url("banner.jpg") no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
