h1 Editing Field

= render 'fields/form'

- @field.plantings.each do |planting|
	= render 'plantings/edit', planting: planting
= render 'plantings/form', planting: Planting.new


.mt-3
	= link_to 'Back', fields_path, class: 'btn btn-lg btn-light'
