<%= form_with(model: side_bar_content, local: true) do |form| %>
  <% if side_bar_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(side_bar_content.errors.count, "error") %> prohibited this side_bar_content from being saved:</h2>

      <ul>
      <% side_bar_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
