<nav class="navbar navbar-dark bg-dark mt-5">
  <address class="navbar-brand ml-5">
    717 West Sidney Rd.
    <br>
    Pittstown, NJ 08867
    <br>
    <a href="tel:1-908-500-0101">(908)500-0101</a>
  </address>
  <ul class="list-unstyled navbar-brand center">
    <li>
      <h5>Farm Hours</h5>
    </li>
    <li>Tuesday-Thursday</li>
    <li>Noon-dusk</li>
    <li>May-November</li>
  </ul>
  <%= link_to 'TBF', two_barn_farm_url, class: 'btn btn-lg btn-dark navbar-brand mr-5' %>
</nav>