nav.navbar.navbar-dark.bg-dark.mt-5
  address.navbar-brand.ml-5
    | 717 West Sidney Rd.
    br
    Pittstown, NJ 08867
    br
    a href="tel:1-908-500-0101" (908)500-0101
  ul.list-unstyled.navbar-brand.center
    li
      h5 Farm Hours
    li Tuesday-Thursday
    li Noon-dusk
    li May-November
  a.btn.btn-lg.btn-dark.navbar-brand.mr-5 href=two_barn_farm_url TBF
